#slide-wrap {
  position: relative;
  overflow: hidden;
  height: 400px;
  margin: 0 auto; }
  #slide-wrap .slide-content {
    position: relative;
    height: 100%;
    transition: all 1s ease;
    z-index: 1; }
  #slide-wrap li {
    float: left;
    height: 400px; }
    #slide-wrap li img {
      width: 100%;
      height: 100%;
      opacity: 1; }
  #slide-wrap .slide-prev, #slide-wrap .slide-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 3; }
    #slide-wrap .slide-prev .iconfont, #slide-wrap .slide-next .iconfont {
      font-size: 50px;
      color: #fff;
      opacity: 0.5;
      cursor: pointer; }
  #slide-wrap .slide-next {
    right: 20px; }
  #slide-wrap .slide-prev {
    left: 20px; }

.slide-nav {
  position: absolute;
  left: 50%;
  bottom: -350px;
  margin-left: -60px;
  z-index: 2; }
  .slide-nav li {
    float: left;
    margin: 0px 5px; }
    .slide-nav li .current {
      opacity: 1; }
    .slide-nav li a {
      display: inline-block;
      background-color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      opacity: 0.5; }

.main-column {
  text-align: center; }
  .main-column h3 {
    font-size: 26px;
    font-weight: normal;
    color: #000000; }
  .main-column p {
    color: #a0a0a0; }
  .main-column span {
    display: inline-block;
    height: 9px;
    margin: 0 10px;
    border-left: 1px solid #cfcfcf; }

.info-list {
  padding: 0 45px; }
  .info-list figure {
    width: 25%;
    float: left;
    padding: 0 25px;
    box-sizing: border-box; }
    .info-list figure img {
      width: 100%; }
    .info-list figure a {
      color: #010101; }
    .info-list figure p {
      line-height: 22px;
      color: #a0a0a0; }
    .info-list figure figcaption {
      padding: 24px 0 10px;
      margin-bottom: 11px;
      font-size: 18px;
      border-bottom: 1px solid #d9d9d9; }

.welfare {
  padding-bottom: 90px; }
  .welfare header {
    background-color: #efefef; }

.welfare-wrap {
  display: flex;
  height: 100%; }
  .welfare-wrap .row {
    flex: 1; }
    .welfare-wrap .row .content-flex {
      display: flex;
      height: 100%;
      flex-direction: column; }
      .welfare-wrap .row .content-flex .content-flex-big {
        flex: 2; }
      .welfare-wrap .row .content-flex .content-flex-small {
        flex: 1; }
      .welfare-wrap .row .content-flex img {
        display: block;
        width: 100%;
        height: 100%; }
      .welfare-wrap .row .content-flex .color-white {
        color: #fff; }
        .welfare-wrap .row .content-flex .color-white .link-more {
          color: #fff; }
  .welfare-wrap .row:last-child .content-flex-small {
    order: 1; }
  .welfare-wrap .row:last-child .content-flex-big {
    order: 2; }
  .welfare-wrap .content-dec {
    padding: 24px 48px 15px 40px; }
    .welfare-wrap .content-dec .title {
      font-size: 24px; }
    .welfare-wrap .content-dec time {
      display: block;
      padding: 14px 0 20px;
      opacity: .5; }
    .welfare-wrap .content-dec .line {
      display: block;
      width: 60px;
      border-top: 1px solid #ccc;
      padding-top: 5px; }
    .welfare-wrap .content-dec .dec {
      margin: 82px 0 25px;
      line-height: 24px; }
    .welfare-wrap .content-dec .link-more {
      display: inline-block;
      border: 1px solid #ccc;
      color: #a0a0a0;
      padding: 5px;
      text-align: center;
      height: 12px;
      line-height: 10px;
      transition: all .3s ease 0s; }
      .welfare-wrap .content-dec .link-more .iconfont {
        position: relative;
        top: 1px;
        left: -1px; }
      .welfare-wrap .content-dec .link-more:hover {
        background-color: #01aab6;
        color: #fff;
        border-color: #01aab6; }

.doctor {
  background-color: #f6f6f6;
  padding: 70px 0px; }
  .doctor .img {
    position: relative;
    float: left; }
    .doctor .img img {
      display: block;
      width: 400px;
      height: 200px; }
    .doctor .img .name {
      position: absolute;
      width: 80px;
      height: 40px;
      top: 50%;
      margin-top: -20px;
      right: 0px;
      color: #fff;
      font-size: 15px;
      text-align: center;
      line-height: 40px;
      background-color: rgba(0, 0, 0, 0.8); }
  .doctor .doc-info {
    margin-left: 450px;
    padding: 10px;
    color: #a0a0a0; }
    .doctor .doc-info .title {
      font-size: 18px;
      font-weight: 300;
      margin: 0px; }
    .doctor .doc-info .relif {
      display: block;
      margin: 10px 0px 20px; }
    .doctor .doc-info .line {
      display: block;
      width: 60px;
      border-top: 1px solid #ccc; }
    .doctor .doc-info .dec {
      margin: 30px 0px;
      padding-right: 5px; }
    .doctor .doc-info .link-more {
      display: inline-block;
      color: #010101;
      padding: 5px;
      text-align: center;
      height: 12px;
      line-height: 10px;
      transition: all .3s ease 0s;
      font-weight: bold; }
      .doctor .doc-info .link-more .iconfont {
        position: relative;
        top: 1px;
        left: -1px; }
      .doctor .doc-info .link-more:hover {
        background-color: #01aab6;
        color: #fff;
        border-color: #01aab6; }
  .doctor .doc-dots {
    left: 0;
    right: 0;
    top: 20px; }
    .doctor .doc-dots .swiper-pagination-bullet {
      width: 8px;
      height: 4px;
      background: #a0a0a0;
      opacity: 1;
      border-radius: 0;
      margin: 0px 3px; }
    .doctor .doc-dots .swiper-pagination-bullet-active {
      opacity: 1;
      background-color: #000; }

.more {
  display: block;
  height: 37px;
  width: 110px;
  margin: 20px auto;
  color: #a0a0a0;
  border: 1px solide #e8e8e8;
  border-radius: 100px;
  line-height: 37px;
  text-align: center;
  transition: all .3s ease 0s; }
  .more:hover {
    background-color: #01aab6;
    color: #fff;
    border-color: #01aab6; }
